
.header {
background-color: #c7f7f9;
border: 2px solid #86ACED;
border-radius: 20px;
width: auto;
height: 75px;
box-sizing: border-box;
display: flex;
justify-content: center;
align-items: center;
}

.left-sidebar {
background-color: #c9f1fe;
border: 2px solid #86ACED;
display: flex;
flex: 1;
border-radius: 20px;
min-width: 0;
justify-content: center;
align-items: center;
margin: 0 10px 0 0;
}

.main-content {
background-color: #e2f8ff;
border: 2px solid #86ACED;
border-radius: 20px;
display: flex;
flex-direction: column;
flex: 3;
min-width: 0;
justify-content: center;
align-items: center;
text-align: center;
margin: 0 0 0 0;
}

.right-sidebar {
background-color: #c9f1fe;
border: 2px solid #86ACED;
border-radius: 20px;
display: flex;
flex: 1;
min-width: 0;
justify-content: center;
align-items: center;
margin: 0 0 0 10px;
}

.footer {
background-color: #c7f7f9;
border: 2px solid #86ACED;
border-radius: 20px;
width: auto;
height: 75px;
box-sizing: border-box;
display: flex;
justify-content: center;
align-items: center;
}

.middle {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    width: auto;
    flex: 1;
    min-height: 0;
    box-sizing: border-box;
    padding: 10px 0 10px 0;
    text-align: center;
}
.page {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    height: 100vh;
    height: 100dvh;
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    text-align: center;

}
body {
    font-family: Be Vietnam Pro, sans-serif;
    font-size: 24px;
    background-color: #FCF8F2;
    height: 100vh;
    height: 100dvh;
    margin: 0;
    box-sizing: border-box;
}
a {
    text-decoration: underline;
    color: #6a6cd0;
}