@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    font-size: 35px;
    color: #333;
    text-align: center;
    margin-top: 20px;
    background-color: #FCF8F2;
    background-image: url("images/nagano-bear-dance.gif"), url("images/flying-gatito.gif"), url("images/rodrick-yass.png");
  background-repeat: no-repeat;
  background-position: 1% 99%, 97% 107%, 50% 100%;
  background-attachment: fixed, fixed, fixed;
  background-size: 13%, 13%,  13%;

}
#header {
    font-family: 'Be Vietnam Pro Regular', sans-serif;
    letter-spacing: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: -20px;
}
#songs {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 50px;
    width: 25%;
    margin: auto;
    margin-top: 50px;
    border: 1px solid #B5CCE6;
    padding: 2px;
    background-color: rgba(235, 242, 246, 0.9);
    box-sizing: border-box;
}
.alternating {
    color: #479fde;
    text-decoration: underline;
}
.goodbye {
    font-size: 30px;
    color: #8396bd;
}
.listento {
    font-size: 32px;
    color: #333;
}
h1 {
    font-size: 80px;
    color: #142C45;
    margin-bottom: -40px;
}
h2 {
    font-size: 48px;
    color: #2F4761;
    margin-bottom: -10px;
}
a{
    color: #3A68AB;
    text-decoration: underline;
}
p {
    color: #333;
    text-align: center;
    font-size: 34px;
}
ul {
    font-size: 85%;
    list-style-position: inside;
    width:fit-content;
    max-width: 100%;
    margin: -30px auto 30px;
}
hr {
    border: none;
    width: 32%;
    max-width: 100%;
    height: 4px;
    margin-left: auto;
    margin-right: auto;
    background-color: #B5CCE6;
}
img{
    width: 450px;
    max-width: 100%;
    height: auto;
    border-radius: 10%;
}
img:hover {
    transform: scaleX(-1);
    border-radius: 5%;
}

body:hover::before {
    transform: scaleX(-1);
}
button {
    background-color: #69A9C9;
    border-radius: 50px;
    color: white;
    border: none;
    padding: 8px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 34px;
    margin: 0% 2px;
font-family: 'Poppins', sans-serif;
    cursor: pointer;
}
button:hover {
    background-color: #4A93B5;
}